<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header-->
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<!-- Section -->
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">나투리아 재고</h1>
			<p class="lead fw-normal text-white-50 mb-0"></p>
		</div>
	</div>
</header>
<section class="py-5">
	<div class="container px-4 px-lg-5 mt-5">
		<label for="exampleDataList" class="form-label">제품</label> 
		<input class="form-control" list="datalistOptions" id="exampleDataList"	placeholder="제품명">
		<datalist id="datalistOptions">
			<option th:each="item : ${item}" th:value="${item.itemName}">
		</datalist>
	</div>
</section>
</body>
<!-- Footer -->
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</html>
