<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<!-- Section-->
<section class="py-5">
	<div class="container w-25">
		<h1 class="display-4 fw-bolder" style="text-align: center;">제품 재고수정</h1>
		
		<form action="itemModify.html" th:action th:object="${item}" method="post">
		
		<div class="form-floating mb-3">
			<input type="text" class="form-control" id="itemName" th:field="*{itemName}" placeholder="제품명" readonly="readonly"> 
			<label for="floatingInput">제품명</label>
		</div>
		
		<div class="form-floating">
			<input type="text" class="form-control" id="itemStock" th:field="*{itemStock}" placeholder="재고량"> 
			<label for="floatingPassword">재고량</label>
		</div>
		
		<button class="btn btn-outline-dark" type="reset"	style="float: right; margin: 5px;">취소</button>
		<button class="btn btn-outline-dark" type="submit"	style="float: right; margin: 5px;">수정</button>
		
		</form>
		
	</div>
	<br>
	<br>
	<div class="container px-4 px-lg-5 mt-5">
		<h1 class="display-4 fw-bolder" style="text-align: center;">제품 판매 현황</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">No</th>
					<th scope="col">거래처명</th>
					<th scope="col">담당자</th>
					<th scope="col">수량</th>
					<th scope="col">판매일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order : ${order}">
					<th scope="row" th:text="${orderStat.count}"></th>
					<td th:text="${order.sell.store}"></td>
					<td th:text="${order.sell.manager}"></td>
					<td th:text="${order.orderCount}"></td>
					<td th:text="${#temporals.format(order.sell.sellDate, 'yyyy-MM-dd')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
</body>
<!-- Footer-->
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</html>