<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<section class="py-5">
	<div class="container w-25">
		<h1 class="display-4 fw-bolder" style="text-align: center;">판매 등록</h1>
		
		<form action="sellRegist.html" th:action th:object="${sell}" method="post">
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="store" th:field="*{store}" placeholder="지점명" th:readonly="${sell.store != null}"> 
				<label for="floatingInput">지점명</label>
			</div>

			<div class="form-floating">
				<input type="text" class="form-control" id="manager" th:field="*{manager}" placeholder="담당자" th:readonly="${sell.manager != null}" > 
				<label for="floatingPassword">담당자 이름</label>
			</div>
			
			<button class="btn btn-outline-dark" type="reset"	style="float: right; margin: 5px;">취소</button>
			<button class="btn btn-outline-dark" type="submit"	style="float: right; margin: 5px;">등록</button>
		</form>
	</div>
</section>
</body>
<!-- Footer-->
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</html>